<nav>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="#">List Post</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="add_post.php">Add Post</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="index.php">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Edit Post</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Remove Post</a>
    </li>
  </ul>
</nav>
